body {
	margin-top: 5%;
	font-size: 18px;
	color: black;
	font-family: "Avenir Next";
	font-weight: 450;
	margin-left: 10%;
	margin-right: 10%;
}

.title {
	color: #CE0827;
	font-size: 30px;
	font-weight: 100;
	font-family: "Futura";
}

#travel {
	font-size: 27px;
	text-align: right;
}

#GreatWall {
	margin-left: 10%;
	border-style: solid;
	border-left-color: #E1E1E1;
	border-top-color: #E1E1E1;
	border-bottom-color: #6B6B6B;
	border-right-color: #6B6B6B;
	border-radius:15px;
}

.major {
	font-weight: 550;
}

.caption {
	color: #4D4D4D;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	font-size: 25px;
	font-family: 'Reenie Beanie', cursive;
}


