.content {
	font-size: 18px;
	color: black;
	font-family: "Avenir Next";
	margin-left: 10%;
	margin-right: 10%;
}

#intro {
	font-family: "Futura";
	font-size:20px;
	text-indent: 5%;
    border-bottom: 10px solid #d9d9d9;
    border-top: 10px solid #d9d9d9;
}

#title {
	font-family: "Futura";
	font-size: 50px; 
	width:100%;
	text-align: center;
}
.insti {
	font-weight: 500;
	font-size: 19px;
}

.bold {
	font-weight: 500;
}
.section {
	color: #CE0827;
	font-size: 23px;
	font-family: "Futura";
	border-top-color:grey ;
	border-top-style:solid;
	text-align: right;
	padding-right: 10px;
}

.jumbotron {
	background-image: url(me.JPG);
	background-size: cover;
	min-height: 750px; 
	opacity: 0.7;
	position: relative;
}

.pos {
	font-style: italic;
}

.container {
	width: 100%;
	position: relative;
}

#tagtable{
	color:white;
	font-size: 40px;
	margin-left: 50%;
	margin-top: 10%;
}

table {
	border-left: 10px solid white;
}


td{
	padding-left: 15px;
	padding-right: 30px;
	
}
.notag{
	font-size: 20px;
}
.icon {
    background-color: white;
    opacity: 0.6;
    font-size: 10px;
    text-align: center;
}

.tag{
    font-family: "Futura",sans-serif;
    background-color: rgba(59,61,62,0.9);

}

.button{
    background-color: #CE0827;
    border-radius: 5px;
    padding:10px;
    color:white;
    box-shadow: 3px 3px 2px #888888;
    border-bottom-style: none;
    text-decoration: none;
}

a.button:hover {
    color: #CE0827;
    font-weight:500;
    border-bottom-style: solid;
    border-bottom-color: grey;
	background-color:white;
	box-shadow: none;
 	border-radius:0px;
 	text-decoration: none;
}

a {
	color:#CE0827;
}

a:visited {
    color:white;
}

#travel {
	color:navy;
	text-decoration: underline;
}

#bookmark {
    width: 100%;
    text-align: center;

}

.highlight {
	background-image: url(highlight.png);
	background-repeat: no-repeat;
	background-size: 100% 95%;
}

.underline {
	border-bottom-color:yellow ;
	border-bottom-style:solid;
	padding-bottom: 0;

}

#back {
	color:black;
}

