body {
    color:  #CE0827;
    font-family: "Futura";
    font-size: 50px;
    font-weight: 300;
}

#center {
	position: fixed;
	top: 50%;
    left: 50%;
	font-size: 60px;
    color:black;
    transform: translate(-50%, -50%);
}
#hello {
    position: fixed;
    bottom: 15%;
    left: 10%;
}
#nihao {
 	position: fixed;
 	top: 20%;
 	right: 15%;
}
#hola {
    font-size: 40px;
    position: fixed;
    top: 15%;
    left: 15%;
}


/*a:link {
	color: 	#000000;
	text-decoration: none;
}

a:visited {
	color:#000000;
}
*/

